<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <div class="page">
        <h1>View Appointments</h1>
        <table class="layout display responsive-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Attended</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="organisationnumber"></td>
                    <td class="organisationname"></td>
                    <td class="organisationnumber"></td>
                    <td class="actions">
                        <a href="?" class="edit-item" title="Edit">View Record</a>
                    </td>
                    <td class="actions">
                        <a href="?" class="remove-item" title="Remove">Delete</a>
                    </td>
                </tr>

                <tr>
                    <td class="organisationnumber"></td>
                    <td class="organisationname"></td>
                    <td class="organisationnumber"></td>
                    <td class="actions">
                        <a href="?" class="edit-item" title="Edit">View Record</a>
                    </td>
                    <td class="actions">
                        <a href="?" class="remove-item" title="Remove">Delete</a>
                    </td>
                </tr>

                <tr>
                    <td class="organisationnumber"></td>
                    <td class="organisationname"></td>
                    <td class="organisationnumber"></td>
                    <td class="actions">
                        <a href="?" class="edit-item" title="Edit">View Record</a>
                    </td>
                    <td class="actions">
                        <a href="?" class="remove-item" title="Remove">Delete</a>
                    </td>
                </tr>

                <tr>
                    <td class="organisationnumber"></td>
                    <td class="organisationname"></td>
                    <td class="organisationnumber"></td>
                    <td class="actions">
                        <a href="?" class="edit-item" title="Edit">View Record</a>
                    </td>
                    <td class="actions">
                        <a href="?" class="remove-item" title="Remove">Delete</a>
                    </td>
                </tr>

                <tr>
                    <td class="organisationnumber"></td>
                    <td class="organisationname"></td>
                    <td class="organisationnumber"></td>
                    <td class="actions">
                        <a href="?" class="edit-item" title="Edit">View Record</a>
                    </td>
                    <td class="actions">
                        <a href="?" class="remove-item" title="Remove">Delete</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</body>

</html>
