<html>

<head>

</head>

<body>
    <div class="form__title">Admin</div>
    <form class="form" action="viewBookings">
        <div>
            <input class="input" type="text" placeholder="Search.." name="search">
            <button class="button1" type="submit">Search<i class="fa fa-search" ></i></button>
        </div>
        <div>
            <form method="get" action="viewBookings">
                <button class="button2" type="submit">View Bookings</button>
            </form>
        </div>
        <div>
            <button type="submit" class="button3">Logout</button>
        </div>
    </form>
</body>

</html>