body {
    background-color: blue;
    height: 100vh;
}

.patient-login {
    margin-left: 30%;
    margin-right: 30%;
}

h1 {
    color: white;
    font-size: 60px;
    text-align: center;
}

.form-group {
    margin-left: 20%;
    margin-right: 20%;
}

input[type=text] {
    width: 100%;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    height: 30px;
    padding: 5px;
}

.logout-button {
    padding: 8px;
    border: none;
    border-radius: 10px;
    margin-top: 200px;
    margin-right: 20px;
    width: 10%;
    float: right;
}

.register-button {
    padding: 8px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    width: 48%;
    float: right;
}

.required-fields {
    background-color: #ddd;
    height: 30px;
    padding: 5px;
    width: 98%;
    color: red;
    margin-top: 5px;
    border-radius: 4px;
}

.search-button {
    padding: 8px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    width: 48%;
    float: left;
}